<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <style>
    body {
            background: linear-gradient(to bottom right, #cce0ff, #8a2eff);
            background-size: 100% 740px;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;

        }
  </style>
</head>
<body>
  <header>
    <h1 style="text-align: center;">Contact Us</h1>
  </header>
  <main>
    <section>
      <h2>Contact Information</h2>
      <p>Email: example@example.com</p>
      <p>Phone: +1 123-456-7890</p>
      <p>Address: 123 Main Street, City, Country</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Your Website Name. All rights reserved.</p>
  </footer>
</body>
</html>
