<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(to bottom right, #cce0ff, #8a2eff);
            background-size: 100% 740px;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;

        }

        nav {
            border-bottom: 1px solid black;
        }

        #showusername {
            display: flex;
            justify-content: flex-end;
            width: fit-content;
            margin-right: 1rem;
        }
        #userimg{
            height: 50px;
            width: 50px;
            margin-right: 2rem;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NodeJS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><strong>Logout</strong></a>
                    </li>
                </ul>
            </div>
            <% if (username){ %>
                <div id="showusername">Welcome <%= username %>
                </div>
                <% } %>
                <img src="<%= image %>" alt="User Image" id="userimg">

            
        </div>
    </nav>

    <!-- Include your JavaScript file here -->
    <!-- <script src="/Script.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>